.primary{
    margin-top: 10px;
    height: 10vh;
    background-color: black;
}

.primary a{
    color: white;
    margin: 10px;
    margin-top: 25px;
}

/* .active{
    font-weight: bold;
    text-decoration: none;
} */

/* .nested{
    background-color: rgb(203, 228, 220);
} */

.nested a{
    margin-right: 20px;
}